body
{
  background: #fff;
  color: #000;
}

.no-margin_--_
{
  margin: 0;
}

.no-padding_--_
{
  padding: 0 !important;
}

.text-center
{
  text-align: center;
}

.text-right
{
  text-align: right;
}

.m-t-58
{
  margin-top: 58px;
}

.m-t-28
{
  margin-top: 28px;
}

.full-width
{
  width: 100% !important;
}

.text-black_--_
{
  color: black !important;
}

.padding-15
{
  padding: 15px;
}

.no-right-padding_--_
{
  padding-right: 0;
}