.c-main-slider_--_
{
  padding-bottom: 76px;
  
  .content-slider_--_
  {
    position: relative;

    .arrow_--_
    {
      position: absolute;
      top: 151px;
    }

    .left-arrow_--_
    {
      left: 8px;
    }

    .right-arrow_--_
    {
      right: 8px;
    }
  }
}